{
  "root": true,
  "extends": [
    "@kisenka/eslint-config"
  ],
  "rules": {
    "dot-location": ["error", "property"],
    "func-names": "off"
  },
  "overrides": [
    {
      "files": "runtime/{*,**/*}.js",
      "env": {
        "browser": true
      }
    },
    {
      "files": "{*,**}/__tests__/*.test.js",
      "env": {
        "mocha": true
      },
      "parserOptions": {
        "ecmaVersion": 2017
      }
    }
  ]
}
