{
  "root": true,
  "extends": [
    "@kisenka/eslint-config"
  ],
  "settings": {
    "import/resolver": "webpack"
  },
  "overrides": [
    {
      "files": "src/runtime/{*,**/*}.js",
      "env": {
        "browser": true
      }
    },
    {
      "files": "test/{*,**}/*.test.js",
      "env": {
        "mocha": true
      },
      "rules": {
        "no-magic-numbers": "off"
      }
    }
  ]
}
