{
  "root": true,
  "extends": [
    "@kisenka/eslint-config"
  ],
  "rules": {
    "dot-location": ["error", "property"],
    "func-names": "off",
    "no-return-assign": "off"
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "overrides": [
    {
      "files": "src/runtime/{*,**/*}.js",
      "env": {
        "browser": true
      }
    },
    {
      "files": "test/{*,**}/*.test.js",
      "env": {
        "mocha": true
      },
      "parserOptions": {
        "ecmaVersion": 2017
      },
      "rules": {
        "no-unused-expressions": "off",
        "no-magic-numbers": "off"
      }
    }
  ]
}
